html {
  min-height: 100%;
  background: rgb(230,162,60);
  background: -moz-linear-gradient(-135deg, rgba(230,162,60,1) 0%, rgba(26,179,148,1) 100%);
  background: -webkit-linear-gradient(-135deg, rgba(230,162,60,1) 0%, rgba(26,179,148,1) 100%);
  background: linear-gradient(-135deg, rgba(230,162,60,1) 0%, rgba(26,179,148,1) 100%);
}

body{
  background: unset;
}

.transparent-btn {
  border: none;
  background-color: transparent;
  width: 100%;
}
